{% extends 'web/layout.html' %}
{% load static %}
{% block title %} 
    CreditShare
{% endblock %}

{% block body %}
<div class="w3-content w3-container" id="problem">
    <style>
        #InvAccounts{
            height: 250%;
            margin: 20px;
        }
        #BorAccounts{
            height: 250%;
            margin: 20px;
        }
        #accounts{
            margin: 20px;
            background-color: aliceblue;
        }
    </style>
    
        
    <div class="w3-container" id="accounts">
            <h2>Investor Accounts</h2>
            <h3>{{account.account_id}}</h3>
            <h5>Cash Balance: {{account.account_cash}}</h5>
            <!-- Add stuff for collateral-->

        <div class="w3-container">
            <div class="w3-row">
                <a href="">
                    <div class="w3-border-round w3-light-grey w3-button">
                        <h4>Add/Remove Cash</h4>
                    </div>
                </a><br><br>
            </div>
        </div>

        
        
        
    </div>

    
</div>

<!--
<div class="w3-content w3-container" id="contact_form">
    <h2>Contact Us!</h2>
    <form action="{% url 'web:contact' %}" method="POST">
        {% csrf_token %}
        Name: <input name="Name" placeholder="Name" type="text" required><br>
        Email: <input name="Email" placeholder="Email" type="email" required><br>
        Message: <textarea name="Message" rows="5" cols="50" placeholder="Enter Message"></textarea><br>
        <input type="submit" class="w3-button w3-black">
    </form>
    {{message}}
    {% if message != None %}
        <script>
            alert("{{message}}");
        </script> 
    {% endif %}
</div>
-->
{% endblock %}