{% extends 'web/layout.html' %}

{% block title %} 
    CreditShare
{% endblock %}

{% block body %}
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-xlarge w3-wide w3-animate-opacity"> <img src="logo.png"> </span><br>
    <span class="w3-center w3-padding-large w3-grey w3-xlarge w3-wide w3-animate-opacity">WELCOME TO THE NEW WAY TO INVEST</span>
    </div>
</div>

<div class="w3-content w3-container" id="problem">
    <h3 class="w3-center">We Get it, Starting a business is <strong>HARD</strong></h3>
    
    <div class="w3-row">
        <div class="w3-card w3-center">
            <iframe src='https://d3fy651gv2fhd3.cloudfront.net/embed/?s=fdtr&v=202302071907V20220312&d1=20130220&h=300&w=600' height='400' width='600'  frameborder='0' scrolling='no'></iframe><br />source: <a href='https://tradingeconomics.com/united-states/interest-rate'>tradingeconomics.com</a>
            
            <h3><b><i class="fa fa-info-circle w3-margin-right w3-center">Increase In Bank Interest Rates in past 3 decades</i></b></h3><br>
            
        </div>
        <div class="w3-card w3-half">
            <div id="myChart" style="max-width:500px; height:400px"></div>
            <div class="w3-container">
                <p><b><i class="fa fa-info-circle w3-margin-right w3-center">Fail Rates of Businesses By the Year</i></b></p><br>
            </div>
        </div>
        <div class="w3-card w3-half">
            <div class="w3-panel w3-leftbar w3-light-grey">
                <h3 class="w3-serif">
                <i>"38% percent of startups fail because they ran out of cash or failed to raise new capital"</i></h3>
                <p>ShopSavvy</p>
              </div>
            <div class="w3-container">
                <p><b><i class="fa fa-info-circle w3-margin-right w3-center">Prime Reasons why Business fail</i></b></p><br>
            </div>
        </div>
    </div>
    <h4 class="w3-right">The current trend of escalating interest rates among financial institutions has presented challenges for emerging businesses seeking to secure loans for initial operations. Furthermore, small businesses face increasing difficulties in attracting new investors. Inadequate capital remains a leading cause of business failure, highlighting the critical role of sufficient funding for the survival and growth of enterprises. Consequently, without access to necessary capital, promising new businesses may be at risk of failure, which could have significant impacts on the growth and sustainability of the wider economy. </h4>

    
</div>
<div class="w3-content w3-container" id="about">
    <h2>About our Product</h2>
    <div class="w3-row">
        <div class="w3-card w3-center">
            <h4>Our Goal</h4>
            <p>Our ultimate goal is to create a fully automated service that is capable of providing funding for entrepreneurs and a solid investment opportunity for investors. We believe that by leveraging technology and automation, we can create a more efficient and streamlined process that benefits both entrepreneurs and investors.
            </p>
        </div>
        <div class="w3-card w3-center">
            <h4>Investors</h4>
            <p>For investors, our platform will provide a curated selection of investment opportunities, all of which have been thoroughly vetted by our team of experts. Investors will be able to browse through a variety of investment options, each with its own unique risk and return profile, and choose the ones that best align with their investment goals and risk tolerance.</p>
        </div> 
        <div class="w3-card w3-center">
            <h4>Entrepenuers</h4>
            <p>For entrepreneurs, our platform will provide a simple and hassle-free way to apply for funding. By filling out an online application, entrepreneurs will be able to provide all the necessary information about their business, including financials, growth projections, and other key metrics. Our automated system will then use this information to evaluate the business's potential and determine whether it is a viable investment opportunity.
            </p>
        </div>
    </div>
</div>

<div class="w3-content w3-container" id="contact_form">
    <h2>Contact Us!</h2>
    <form action="{% url 'contact' %}" method="POST">
        {% csrf_token %}
        Name: <input name="Name" placeholder="Name" type="text" required><br>
        Email: <input name="Email" placeholder="Email" type="email" required><br>
        Message: <textarea name="Message" rows="5" cols="50" placeholder="Enter Message"></textarea><br>
        <input type="submit" class="w3-button w3-black">
    </form>
    {{message}}
</div>
{% endblock %}